@import"variables.css";
@import"animations.css";
@import"global.css";
@import"navbar.css";
@import"header.css";
@import"header.css";
@import"about.css";
@import"projects.css";
@import"contact.css";
@import"footer.css";

#top h1 {
    text-align: center;
}

div {
    /* border: 1px solid #000; */
}

#sidebar {
    color: #CCC;
    background-color: #111;
}

.project {
    height: 30%;
    border: 1px solid #111;
    border-radius: 15px;
}
.project img {
    width: 90%;
    height: 50%;
}

.jumbotron h1 {
    color: #FFF;
    animation: glowy 3s infinite;
}

.project a {
    color: #000;
}
.project a:hover {
    color: #06F;
    animation: glowy 1s infinite;
    text-decoration: none;
}

.btn {
    border: 1px solid #111;
    
}
